<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/error.css">
    <title>出错了</title>
</head>

<body>
    <div class="system-message">
        <h1>:(</h1>
        <p class="error">{{.Error}}</p><p class="detail"></p>
        <p class="jump">
        <a href="javascript:history.go(-1);">返回上页</a>
        |
        <a href="/">返回首页</a></p>
    </div>
</body>
</html>