<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>URLooker</title>
<!--[if lt IE 9]>
<script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<link rel="shortcut icon" type="image/x-icon" href="/img/logo.png"/>
<link rel="stylesheet" type="text/css" href="/lib/bootstrap/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/lib/fa/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/lib/layer/skin/layer.css">
<link rel="stylesheet" type="text/css" href="/css/g.css">
<script src="/lib/jquery/jquery.min.js"></script>
<script src="/lib/bootstrap/bootstrap.min.js"></script>
<script src="/lib/layer/layer.js"></script>
<script src="/js/g.js?_v=0.0.1"></script>
